# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

shared-lib/esm/*
shared-lib/cjs/*
!shared-lib/esm/package.json
!shared-lib/cjs/package.json

*.tsbuildinfo

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.svelte-kit
.svelte-kit/*
build/*
build

static/versions/*.ver

.firebase/*

rust/wasm-lib/src/countdown_digits
rust/wasm-lib/src/utilgen.rs
shared-lib/src/gd
shared-lib/src/nexusgen.ts
src/assets/spritesheet.png