@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "Pusab";
    src: url("Pusab.otf");
}


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
    font-family: "Saira", sans-serif;
    letter-spacing: 1px;
}
body {
    background-color: black;
    overflow: hidden;
}

:root {
    --toastContainerTop: auto;
    --toastContainerRight: auto;
    --toastContainerBottom: 4rem;
    --toastContainerLeft: calc(50vw - 8rem);
}

@keyframes scale-easeOutBounce {
	0% {
        transform: scale3d(1.0, 1.0, 1);
    }
    12% {
        transform: scale3d(1.022, 1.022, 1);
    }
    24% {
        transform: scale3d(1.088, 1.088, 1);
    }
    36% {
        transform: scale3d(1.196, 1.196, 1);
    }
    54% {
        transform: scale3d(1.15, 1.15, 1);
    }
    74% {
        transform: scale3d(1.196, 1.196, 1);
    }
    82% {
        transform: scale3d(1.188, 1.188, 1);
    }
    92% {
        transform: scale3d(1.198, 1.198, 1);
    }
    96% {
        transform: scale3d(1.196, 1.196, 1);
    }
    100% {
        transform: scale3d(1.2, 1.2, 1);
    }
} 

@layer components {
    .menu-panel {
        @apply relative shadow-lg rounded-xl bg-menu-gray/80 shadow-black/40 backdrop-blur-md;
    }

    .sliding-selector {
        @apply relative overflow-hidden rounded-lg bg-white/20;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .pointer-events-all {
        pointer-events: all;
    }

    .white-button {
        @apply bg-white/5 enabled:hover:bg-white/15 enabled:active:bg-white/25 disabled:opacity-30 disabled:cursor-not-allowed;
    }

    .li-alternating {
        @apply odd:bg-black/15 even:bg-white/10;
    }

    .text-stroke {
        /* -webkit-text-stroke: 2.5px black; */
        text-shadow:
            -2.5px 0 0 black,
            2.5px 0 0 black,
            0 -2.5px 0 black,
            0 2.5px 0 black,
            -1.76px -1.76px 0 black,
            1.76px 1.76px 0 black,
            1.76px -1.76px 0 black,
            -1.76px 1.76px 0 black;
    }
    .text-stroke-white {
        /* -webkit-text-stroke: 2.5px black; */
        text-shadow:
            -2.5px 0 0 white,
            2.5px 0 0 white,
            0 -2.5px 0 white,
            0 2.5px 0 white,
            -1.76px -1.76px 0 white,
            1.76px 1.76px 0 white,
            1.76px -1.76px 0 white,
            -1.76px 1.76px 0 white;
    }

    .bounce-active:active {
        animation: scale-easeOutBounce forwards linear 0.5s;
        
    }

    .abs-centered-rel {
        @apply absolute -translate-x-1/2 -translate-y-1/2;
    }
}

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* Edge */
            scrollbar-width: none; /* Firefox */
        }

        /* Custom scrollbar for Firefox */
        .thin-scrollbar {
            scrollbar-color: #ffffff55 #00000044;
            scrollbar-width: thin; /* 8px */
        }

        /* Custom scrollbar for Edge, Chrome, Safari */
        .thin-scrollbar::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        .thin-scrollbar::-webkit-scrollbar-track {
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        .thin-scrollbar::-webkit-scrollbar-track-piece {
            background-color: #00000044;
        }

        .thin-scrollbar::-webkit-scrollbar-thumb {
            background-color: #ffffff55;
            -webkit-border-radius: 10px;
        }
    }
}

*:focus-visible {
    outline-offset: 1px;

    outline-width: 2px;
    outline-style: solid;
  
    animation: spin 1s forwards infinite ease-in-out;
}

@keyframes spin {
    0% {
        outline-color: #7FFAFF;
    }
    50%  {
        outline-color: #0074A3;
    }
    100%  {
        outline-color: #7FFAFF;
    }
}